# Drone pictures and data folder
basestation_code/data/
drone_code/*.png
drone_code/*.jpg

# Unzipped file and un-needed data
basestation_code/instances_train2017.json
/drone_code/pca_components.npy
/drone_code/pca_mean.npy
/basestation_code/pca_components.npy
/basestation_code/pca_mean.npy
/pca_payload.bin